<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Data Table Yoyyyyy</title>
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/answer.css') }}">
</head>

<body>
    <div class="table-title">
        <h3>Data Table</h3>
    </div>
    <table class="table-fill">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Message</th>
            </tr>
        </thead>
        <tbody class="table-hover">
            {% for element in obj %}
            <tr>
                {% for data in element %}
                <td class="text-center">{{data}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>